* {
    margin: 0 auto;
    padding: 0;
}

.common {
    width: 1200px;
    min-height: 50px;
    max-height: fit-content;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.common section {
    /* border: 1px solid blue; */
    padding: 10px;
    flex: 1;
    align-items: center;
}

.nav {
    background-color: #34495e;
    text-align: center;
    color: white;
}
h1 {
    font-size: 30px;
}
.nav section:last-child ,.footer>section>section:last-child{
    flex: 2.2;
}
.nav section:last-child>ul {
    list-style-type: none;
    display: flex;
}
.nav a {
    text-decoration: none;
    color: white;
}
.nav select {
    border: 0;
    background-color: #34495e;
    color: white;
}
.content {
    background-image:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSed8cjGXWyohtgDrDl7ua2ZNYx79F4wKKrzdTubDVMsTCrtpCv');
    min-height: 300px;
    width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.content h1,.content p{
    margin-left: 50px;
}
 .footer{
    background-color: #2dcc70;
    color: white;
 }
 .footer>section{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
 }
 .footer img{
    border-radius: 50%;
    width: 50px;
    margin-left: 60px;
 }
